@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hover\\:animate-marquee {
  display: inline-block;
  white-space: nowrap;
  min-width: 100%; 
}

.hover\\:animate-marquee:hover {
  animation: marquee 6s linear infinite;
}

.range-no-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

.range-no-thumb::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
}